<div class="main-section-container row">
    <div class="col-xs-12 col-lg-8 offset-lg-2">
        <div class="row">
            <img src="https://via.placeholder.com/500x500" alt="Developer image" class="portrait">
        </div>
        <div class="row">
            <h2 class="heading">Thomas Nix - UI Developer</h2>
        </div>
        <div class="row about-row">
            <h3>About Me</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate odio ratione velit vero deleniti, ullam saepe adipisci dolore. Obcaecati consectetur alias voluptatem assumenda est, veritatis iste nam accusantium sequi unde!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate odio ratione velit vero deleniti, ullam saepe adipisci dolore. Obcaecati consectetur alias voluptatem assumenda est, veritatis iste nam accusantium sequi unde!</p>
        </div>
        <div class="row about-row">
            <h3>Dev Life</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate odio ratione velit vero deleniti, ullam saepe adipisci dolore. Obcaecati consectetur alias voluptatem assumenda est, veritatis iste nam accusantium sequi unde!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate odio ratione velit vero deleniti, ullam saepe adipisci dolore. Obcaecati consectetur alias voluptatem assumenda est, veritatis iste nam accusantium sequi unde!</p>
        </div>
        <div class="row about-row">
            <h3>Hobbies &amp; Interests</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate odio ratione velit vero deleniti, ullam saepe adipisci dolore. Obcaecati consectetur alias voluptatem assumenda est, veritatis iste nam accusantium sequi unde!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate odio ratione velit vero deleniti, ullam saepe adipisci dolore. Obcaecati consectetur alias voluptatem assumenda est, veritatis iste nam accusantium sequi unde!</p>
        </div>
    </div>
</div>