@import '../section-styles.scss';

.portrait {
    display: block;
    margin: 0 auto;
    width: 15vw;
}

.heading {
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
}

.about-row {
    h3 {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .portrait {
        width: 25vw;
    }
}

@media (max-width: 500px) {
    .portrait {
        width: 50vw;
    }
}