<div class="main-section-container row">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <img src="https://via.placeholder.com/500x500" alt="Developer image" class="portrait">
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="about">
                <div class="row">
                    <h2 class="heading">Thomas Nix - UI Developer</h2>
                </div>

                <div class="row">
                    <h4>Lorem</h4>
                </div>

                <div class="row">
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolorum autem ea. Dignissimos veritatis autem voluptas quos reprehenderit, quasi iste exercitationem, est deserunt doloremque placeat, quam molestiae a eveniet maxime.</p>
                </div>

                <div class="row">
                    <h4>Ipsum</h4>
                </div>

                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem pariatur, qui architecto perspiciatis suscipit sed, tempore deserunt ullam id placeat ipsa corrupti minus quaerat eligendi nihil! Mollitia dolores saepe pariatur.</p>
                </div>

                <div class="row">
                    <div class="image-set">
                        <img src="/assets/images/angular.png" alt="Angular">
                        <img src="/assets/images/git.png" alt="Git">
                        <img src="/assets/images/javascript.png" alt="JavaScript">
                        <img src="/assets/images/html.png" alt="HTML">
                        <img src="/assets/images/css.png" alt="CSS">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 offset-sm-3">
            <div class="about">
                <div class="row">
                    <h2 class="heading">Hobbies & Interests</h2>
                </div>

                <div class="row">
                    <h4>UI Developer</h4>
                </div>

                <div class="row">
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolorum autem ea. Dignissimos veritatis autem voluptas quos reprehenderit, quasi iste exercitationem, est deserunt doloremque placeat, quam molestiae a eveniet maxime.</p>
                </div>

                <div class="row">
                    <h4>Web Development</h4>
                </div>

                <div class="row">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem pariatur, qui architecto perspiciatis suscipit sed, tempore deserunt ullam id placeat ipsa corrupti minus quaerat eligendi nihil! Mollitia dolores saepe pariatur.</p>
                </div>

                <div class="row">
                    <div class="image-set">
                        <img src="/assets/images/angular.png" alt="Angular">
                        <img src="/assets/images/git.png" alt="Git">
                        <img src="/assets/images/javascript.png" alt="JavaScript">
                        <img src="/assets/images/html.png" alt="HTML">
                        <img src="/assets/images/css.png" alt="CSS">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>