<div class="main-section-container row">
    <form [formGroup]="experienceForm" (ngSubmit)="validateAndPostForm()">
        <div class="form-group">
            <div class="row">
                <label for="title">
                    Title
                </label>
                <input type="text" class="form-control" formControlName="title">
                <span class="text-danger" *ngIf="formControlHasError('title', 'required')">This field is required.</span>
            </div>
            <div class="row">
                <label for="imageSrc">
                    Image name (including extension)
                </label>
                <input type="text" class="form-control" formControlName="imageSrc">
                <span class="text-danger" *ngIf="formControlHasError('imageSrc', 'required')">This field is required.</span>
            </div>
            <div class="row">
                <label for="comments">Description</label>
                <textarea class="form-control" id="comments" rows="3" formControlName="description"></textarea>
                <span class="text-danger" *ngIf="formControlHasError('description', 'required')">This field is required.</span>
            </div>
        </div>
        <button class="btn btn-primary submit-button" type="submit">Add experience</button>
    </form>
</div>