<form>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label for="email">First Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="email">Last Name</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email">
        <label for="comments">Your comments</label>
        <textarea class="form-control" id="comments" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary submit-button">Send email</button>
</form>