@import '/src/app/variables';

nav.navbar {
    padding: 2em 5em;
    z-index: 999;

    .navbar-brand {
        margin-left: 1.5em;
    }

    .nav-item {
        font-size: 1.25em;
        margin: 0 1.5em;
    
        .nav-link {
            color: $dark-text-grey;
    
            &:hover,
            &:focus {
                color: $bg-color-light;
                text-decoration: none;
            }
        }

        &.active {
            .nav-link {
                color: $bg-color-light;
            }
        }
    }

    &.navbar-dark.bg-dark {
        background-color: $bg-color-dark !important; // override bootstrap
    }
}
