@import '/src/app/variables';

nav.navbar {

    .navbar-brand {
        margin-left: 1.5em;
    }

    .nav-item {
        font-size: 1.25em;
        margin: 0 1.5em;
    
        .nav-link {
            color: $dark-text-grey;
    
            &:hover,
            &:focus {
                color: $light-text;
                text-decoration: none;
            }
        }

        &.active {
            .nav-link {
                color: $light-text;
            }
        }
    }

    .navbar-toggler {
        position: absolute;
        top: 5vh;
    }

    #navbarNav {
        width: 90vw;
    }

    &.navbar-dark.bg-dark {
        background-color: $bg-color-dark !important; // override bootstrap
    }
}
