<div class="header-container">

    <a routerLink="/" class="header-container-routing-link">About Me</a>
    <a routerLink="/professional-experience" class="header-container-routing-link">Professional Experience</a>
    
    <!-- Portrait -->
    <img id="portrait" src="https://via.placeholder.com/350x350" alt="Thomas Nix Portrait">

    <a routerLink="/hobbies" class="header-container-routing-link">Hobbies</a>
    <a routerLink="/contact-and-resume" class="header-container-routing-link">Contact and Resume</a>

</div>

