@import '../section-styles.scss';

.section-header {
    margin: 2vh 0;
    text-align: center;;
}

.contact-form {
    margin: 0 auto;
    width: 60%;
}

.download-container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2vh;
}

.image-container {
    margin: 0 auto;
    text-align: center;
    width: 50%;

    .social-logo {
        margin: 2vh 0;
        width: 10rem;
    }
}

.contact-container {
    background-color: $field-bg;
    border: 2px solid $bg-color-light;
    box-shadow: 0 0 2px $bg-color-light;
    margin-bottom: 2vh;

    h3 {
        color: $bg-color-light;
    }

    img {
        background-color: $bg-color-light;
        border: 1px solid $bg-color-light;
        border-radius: 25%;
    }
}

.modal.contact-email-response-modal {
    display: inherit;

    .modal-content {
        background-color: $bg-color-dark;
        padding: 1em;
        color: $light-text-grey;
        border: 2px solid $bg-color-light;
        box-shadow: 0 0 2px $bg-color-light;
    }

    .btn.btn-secondary {
        background-color: $bg-color-light;
        color: $bg-color-dark;
        margin: 0 auto;
    }
}