<div class="main-section-container row">
    <div class="col-xs-12 col-lg-6 offset-lg-3 contact-container">
        <h4 class="section-header">Contact me</h4>
        <div class="contact-form">
            <app-contact-form (emailResponse)="setAndShowContactResponse($event)"></app-contact-form>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6 offset-lg-3 download-container contact-container">
        <h4 class="section-header">Please reach out above for a copy of my resume</h4>       
    </div>
    <div class="col-xs-12 col-lg-6 offset-lg-3 contact-container">
        <h4 class="section-header">Find me Online</h4>
        <div class="row image-container">
            <div class="col">
                <a href="https://www.github.com/thomasjnix" target="_blank">
                    <img src="/assets/images/github-logo.png" alt="GitHub logo" class="social-logo">
                </a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/thomasjnix/" target="_blank">
                    <img src="/assets/images/linkedin-logo.png" alt="LinkedIn logo" class="social-logo">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal contact-email-response-modal" *ngIf="showModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Thank you for reaching out!</h5>
            </div>
            <div class="modal-body">
              <p>I have received your message and will review it shortly.</p>
    
              <ul>
                  <li>Name: {{ contactEmailData.firstName }} {{ contactEmailData.lastName }}</li>
                  <li>Email: {{ contactEmailData.email }}</li>
                  <li>Comments: {{contactEmailData.comments}}</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-lg" (click)="hideModal()">Close</button>
            </div>
          </div>
        </div>
      
</div>