@import '../section-styles.scss';

.section-header {
    margin: 2vh 0;
    text-align: center;;
}

.contact-form {
    margin: 0 auto;
    width: 60%;
}

.download-container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2vh;
}

.image-container {
    margin: 0 auto;
    text-align: center;
    width: 50%;

    .social-logo {
        margin: 2vh 0;
        width: 10rem;
    }
}

.contact-container {
    background-color: $field-bg;
    border: 2px solid white;
    box-shadow: 0 0 2px white;
    margin-bottom: 2vh;

    h3 {
        color: white;
    }

    img {
        background-color: white;
        border: 1px solid $bg-color-light;
        border-radius: 25%;
    }
}