<div class="main-section-container row">
    <div class="col-xs-12 col-sm-6 offset-sm-3 contact-container">
        <h3 class="section-header">Enter new experience</h3>
        <div class="contact-form">
            <app-admin-login></app-admin-login>
        </div>
    </div>
</div>
<div class="main-section-container row">
    <div class="col-xs-12 col-sm-6 offset-sm-3 contact-container">
        <h3 class="section-header">Enter new experience</h3>
        <div class="contact-form">
            <app-add-experience></app-add-experience>
        </div>
    </div>
</div>
<div class="main-section-container row">
    <div class="col-xs-12 col-sm-6 offset-sm-3 contact-container">
        <h3 class="section-header">Delete experiences</h3>
        <div class="contact-form">
            <app-manage-experience></app-manage-experience>
        </div>
    </div>
</div>
