@import '../node_modules/normalize.css/normalize.css';
@import './app/variables';

body, html {
    background-color: $bg-color-dark;
    color: $light-text;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}